.ImgPageShop {
  display: flex;
  align-items: center;
  margin-top: 150px;

  width: 100%;
  height: 400px;

  img {
    width: 100%;
    object-fit: cover;

    border-radius: 0%;
  }
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin-top: 150px;

  .card {
    font-weight: bold;
    margin: 1rem;
    flex-basis: 45%;
    max-width: 20rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
      background-color: lightgreen;
    }
  }
}
